*
body{
    background: rgba(0, 0, 0, 0.00);
    margin: 0 auto;
}
a{
    text-decoration: none;
    color:inherit;
}
a:hover{
    color:black;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.conteiner{
    width: 942px;
    margin: 0 auto;
}
.nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    height: 39px;
    margin-top:35px;
   }
.logo{
    display: flex;
    width: 153px;
    height: 53px;
    flex-direction: column;
    justify-content: center;

}
.menu{
    display:flex;
}
.menu_link{
    font-family: 'IBM Plex Mono', monospace;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Tilt Prism', cursive;
    width: 75px;
    flex-shrink: 0;
    color: #FED136;
    text-align: center;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 41px; /* 292.857% */
    text-transform: uppercase;
    margin-left: 10px;
}
.services_text{
    display: flex;
    justify-content: center;
    margin-top: 79px;
    margin-bottom: 87px;
}
.text_services{
    display: flex;
    width: 223px;
    color: #222;
    text-align: center;
    font-family: Montserrat;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 75px; /* 187.5% */
    letter-spacing: -1px;
    text-transform: uppercase;
   
}
.services{
    display: flex;
    justify-content: space-between;
    margin-bottom: 132px;
    
}
.services_box{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    align-content: center;
    width: 274px;
    height: 185px;
    flex-shrink: 0;
}
.servises_logo{
  display: flex;
  margin: 0;
}
.start{
    display: flex;
    justify-content: center;
    width: 174px;
    height: 63px;
    color: #222;
    text-align: center;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 75px; 
    letter-spacing: -0.45px; 
    margin: 0;

}
.text_box{
    display: flex;
    justify-content: center;
    width: 304px;
    color: #777;
    text-align: center;
    font-family: RobotoSlab;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.35px;
    margin: 0;
}
.background_form{
    margin: 0 auto;
    height: 679px;
    background: #222;
}
.footer_box{
    padding-top: 1px;
}
.text_footer{
    display: flex;
    justify-content: center;
    margin-top: 92px;
}
.footer_text{
    display: flex;
    width: 288px;
    color: #FFF;
    font-family: Montserrat;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -1px;
    text-transform: uppercase;
}
.form{
    display: flex;
    justify-content: space-between;
    margin-top: 114px;
    margin-bottom: 1px;
}
.smool_form{
    display: flex;
    flex-wrap: wrap;
}
input[type=email], select {
    width: 455px;
    height: 50px;
    stroke: #BBB;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.35px;
    text-transform: uppercase;
}
.input_box{
    margin-bottom:28px;
}
input[type=text], select{
    width: 455px;
    height: 214px;
    stroke: #BBB;
    font-family: Montserrat;
    text-align: start;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.35px;
    text-transform: uppercase;
}
.form_big_box{
    display: flex;
}
.button_box{
    display: flex;
    justify-content: center;
}

.button{
    display: flex;
    width: 242px;
    height: 68px;
    flex-shrink: 0;
    background-color: #FED136;
    border: none;
}
var{
    width: 176px;
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin: auto;

}
var:hover{
    font-size: 20px;
}